.home-wrapper {
  width: 80vw;
  padding-left: 15vw;
  color: white;
  animation-name: fade-in;
  animation-duration: 3s;
  /* z-index: 10 !important; */
}

.main-links {
  display: flex;
  padding-inline: 2vw;
  font-family: "Jost";
  font-size: 1rem;
}

.round-animated-btn {
  width: 10vw;
  height: 10vw;
  border: 1px solid white;
  transition: 0.3s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.round-animated-btn:hover {
  border-radius: 50%;
}

.end {
  border: 1px slid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-me-btn {
  font-family: "Jost";
}

.view-projects {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.moon:before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  box-shadow: 0 0 20px 10px #fff;
}

.moon:after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 0 10px 5px #fff;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
  }
}

.intro-section {
  color: white;
  padding-block-start: 2.5vh;
  padding-inline: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.left {
  display: flex;
  flex-direction: row;
  gap: -4vh;
  justify-content: space-between;
}
.greetings {
  font-family: "Jost";
  font-size: 1.2rem;
}

.name {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
}
.center {
  display: flex;
  gap: 1vw;
  width: 100%;
}
.aboutme {
  font-family: "Jost";
  max-width: 50vw;
  font-size: 1rem;
}

.picture {
  border: 1px solid red;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.btn-styling {
  color: black;
  font-family: "Jost";
  font-size: 1.2rem;
  font-weight: 400;
}

.right {
  display: flex;
}

.steps{
  order: 1;
}

.details {
  padding-block: 2vh;
  font-size: 0.7rem;
  display: flex;
  width: 70vw;
  z-index: 10 !important;
}

@media (max-width: 700px) {
  .details {
    flex-direction: column;
  }

  .project {
    flex-direction: column;
  }
}

/* .exp{
  width: 50%;
} */
.experience-title {
  color: white;
  font-family: "Jost";
  font-size: 1.5rem;
  font-weight: 400;
}

.main {
  display: flex;
}

#projects-sec {
  padding-inline: 2vw;
}
.projects {
  width: 100%;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about-me {
  padding-inline: 2vw;
  min-height: 100vh;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.aboutme-title {
  font-family: "Jost";
  font-size: 2rem;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0%);
}

.aboutme-bottom {
  display: flex;
  gap: 5vw;
}

.aboutme-details {
  color: white;
  font-family: "Jost";
  width: 100%;
}

.image {
  width: 25%;
  height: 40vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border-radius: 10%;
  transition: ease-in-out 0.8s;
}

.img-si {
  width: 100%;
  transition: ease-in-out 0.8s;
}

.img-si:hover {
  border-radius: 20%;
}

.image:hover {
  border-radius: 20%;
}

.project {
  display: flex;
}

.project-details {
  width: 80%;
  color: rgba(255, 255, 255, 0.769);
  font-family: "Jost";
}

.project-preview {
  width: 50%;
  border: 1px solid red;
  height: 10vw;
  transition: 0.5s ease-in-out;
}

.project-preview:hover {
  width: 80%;
  height: 20vw;
}

/* img {
  border-radius: 10%;
  width: 100%;

  transition: ease-in-out 0.8s;
}

img:hover {
  border-radius: 20%;
} */

.heading {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  text-decoration: none !important;

}

.scroll-image-ti {
  width: 100%;
  height: 40vh;

  position: relative;
  overflow: hidden;

  background: url("../../assets/TicTacToe.png");

  background-size: cover;
  background-position: top;
  transition: all 10s ease;
}


.scroll-image-dr {
  width: 100%;
  height: 50vh;

  position: relative;
  overflow: hidden;

  background: url("../../assets/drawnote.gif");

  background-size: cover;
  background-position: top;
  transition: all 10s ease;
}

.scroll-image-ti:hover {
  background-position: bottom;
}
.scroll-image-dr:hover{
  background-position: bottom;
}



.scroll-image-cr {
  width: 100%;
  height: 40vh;

  position: relative;
  overflow: hidden;

  background: url("../../assets/CryptoDen.png");

  background-size: cover;
  background-position: top;
  transition: all 10s ease;
}

.scroll-image-cr:hover {
  /* width: 100%; */
  background-position: bottom;
}


.scroll-image-un {
  width: 100%;
  height: 50vh;

  position: relative;
  overflow: hidden;

  background: url("../../assets/unsc.gif");

  background-size: cover;
  background-position: top;
  transition: all 10s ease;
}

.scroll-image-un:hover {
  /* width: 100%; */
  background-position: bottom;
}

.project {
  border: 1px solid rgba(255, 255, 255, 0.559);
  border-radius: 20px;
  padding: 1rem;
}

.project:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 5px 5px 15px;
}
.contact-title {
  font-size: 2rem;
  padding-block: 0.5rem;
}
.contact-wrapper {
  color: #fff;
  font-family: "Jost";
  display: flex;
  flex-direction: column;

  padding-block: 4rem;
}

.con-details {
  font-size: 1rem;
}
