@media (max-width: 700px) {
  .design{
    /* display: none; */
    color:"red"
  }
}

.sidebar-wrapper {
  position: fixed;
  color: white;
  font-family: "Inter";
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 3vw;
}

.design {
  font-size: 0.7rem;
  writing-mode: vertical-rl;
}
