@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Jost&family=Quicksand&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
  background-image: url(./assets/bg.png);
  /* background-image: url(./assets/twinkling.png); */
  /* background-image: url(./assets/windowsbg.jpg);  */
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  background-position: bottom;
}

.container {
  /* background-image: url(./assets/twinkling.png); */
  background-size: cover;
  width: 100vw;
  height: 90vh;
  position: relative;

  /* border: 1px solid red; */
}

#bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  z-index: -1;

  animation-name: twinkling;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes twinkling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes twinkling {
  from {
    background-image: url(./assets/bg.png);
  }
  to {
    background-image: url(./assets/twinkling.png);
  }
} */

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bab9c077;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #504e56;
}
